@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


.page {
    margin-top: 200px;
    font-family: 'Staatliches', cursive;
    font-size: 60px;
}
input {
    font-family: 'Staatliches', cursive;
    /* font-weight: bold; */
    color: black;
    width: 100px;
}

