@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

footer {
  position: flex-end;
  bottom: 0;
  height: 2em;
  left: 0;
  width:100%;

}
.page-footer .footer-copyright {
  background-color:black;
  font-family: "Staatliches", cursive;

}


.text2 {
  margin-top: 200px;
  font-family: "Staatliches", cursive;
  color: rgb(0, 0, 0);
  font-size: 30px;
}